@import '../../styles/base/variables';
@import '../../styles/utilities/mixins';

.theme-light-color {
  color: map-get($theme, light) !important;
}

.theme-dark-color {
  color: map-get($theme, dark) !important;
}

input.small {
  width: 46px;
}

.button-theme-black {
  background-color: map-get($theme, dark);
  color: #fff;
}

.button-theme-white {
  background-color: map-get($theme, light);
  color: #111012;
}

.button-prop {
  padding: 1.2vw 2.5vw;
  border-radius: 2px;
  border: none;
  line-height: 1;
  font-size: 1.1vw;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 0.7px;

  @include break-large-to-small(mobile) {
    font-size: 3.5vw;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2vw 4vw;
  }
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.tg-block {
  display: block;
}

.tg-inline-block {
  display: inline-block;
}

.tg-inline {
  display: inline;
}

.d-none {
  display: none !important;
}

// Quovantis website buttons

.primary-btn-lg {
  background-color: #FC7764; // var
  color: #fff; // var
  border-radius: 5px;
  padding: 17px;
  display: inline-block;

  &:hover {
    background-color: #FF6B57;
  }
}

.primary-btn-sm {
  background-color: #FC7764; // var
  color: #fff; // var
  font-weight: 500; // var
  border-radius: 5px;
  //border-radius: .4vw;
  padding: 10px 20px;
  // padding: .55vw 1.02vw;

  &:hover {
    background-color: #FF6B57;
  }
}


.secondary-cta {
  background-color: #01C4CF; // var
  color: #ffffff; // var
  border-radius: 5px;
  padding: 14px 16px;
  // padding: 3.2vw 3.8vw;
  display: inline-block;

  color: #FFFFFF;
  font-family: map-get($font-families, secondary-bold);
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}

