@import '../../styles/base/variables';

// Global Styles
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
    width: 100%;
    // height: 100vh;
    // border: 1px solid red;
    box-sizing: border-box;
  }

.title-tag {
    color: #ffffff;	
    font-family: map-get($font-families, secondary-bold);	
    font-size: 46px;	
    font-weight: bold;	
    letter-spacing: -0.2px;	
    line-height: 50px;
     @media only screen and (max-width: 767px) {
         font-size: 26px;
         line-height: 32px;
     }
 }

.subtitle-tag {
    color: #ffffff;	
    font-family: map-get($font-families, secondary);	
    font-size: 36px;	
    font-weight: bold;	
    letter-spacing: -0.2px;	
    line-height: 44px;
    margin-top: 20px;
     @media only screen and (max-width: 767px) {
         font-size: 24px;
         line-height: 28px;
     }
}

.tag-title {
   color: #000000;
   font-family: map-get($font-families, secondary);
   font-size: 14px;
   font-weight: 500;
   letter-spacing: -0.2px;
   line-height: 18px;
}


.label {
  color: #01C4CF;	
  font-family: map-get($font-families, secondary);	
  font-size: 14px;	
  font-weight: 500;	
  letter-spacing: -0.2px;	
  line-height: 18px;
  text-transform: uppercase;
  @media only screen and (max-width: 767px) {
    font-size: 12px;
    line-height: 15px;
    font-family: map-get($font-families, secondary-medium);
    }
}
.main-heading{
  color: #000000;	
  font-family: map-get($font-families, secondary-bold);		
  font-size: 36px;	
  font-weight: bold;	
  letter-spacing: -0.2px;	
  line-height: 44px;
  margin-top: 10px;
  @media only screen and (max-width: 767px) {
    font-size: 24px;
    line-height: 30px;
  }   
} 
.common-para {
  color: #3B3B3B;	
  font-family: map-get($font-families, primary);	
  font-size: 18px;
  letter-spacing: -0.2px;	
  line-height: 28px;
  margin-top: 20px;
  @media only screen and (max-width: 767px) {
    font-size: 16px;
    line-height: 24px;
 }
 .special-text-bold {
  font-family: map-get($font-families, primary-bold);
 }
 .special-text {
  background: linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(255,255,255,0) 48%,rgba(255,255,255,0) 50%,#FFD382 52%,#FFD382 100%);
   }
}

.common-para-1 {
  color: #3B3B3B;	
  font-family: map-get($font-families, primary);	
  font-size: 18px;
  letter-spacing: -0.2px;	
  line-height: 28px;
  margin-top: 20px;
  @media only screen and (max-width: 767px) {
    font-size: 16px;
    line-height: 24px;
 }
   .special-text-bold {
  font-family: map-get($font-families, primary-bold);
   }
}

.common-para-2 {
  color: #3B3B3B;	
  font-family: map-get($font-families, primary);	
  font-size: 18px;
  letter-spacing: -0.2px;	
  line-height: 28px;
  margin-top: 20px;
  @media only screen and (max-width: 767px) {
    font-size: 16px;
    line-height: 24px;
 }
  .special-text-bold {
  font-family: map-get($font-families, primary-bold);
 }
}

.heading {
    color: #000000;
    font-family: map-get($font-families, secondary-bold);
    font-size: 26px;
    letter-spacing: -0.2px;
    line-height: 36px;
}

.stat-label {
    color: #01C4CF;
    font-family: map-get($font-families, secondary-bold);
    font-size: 46px;
    letter-spacing: -0.2px;
    line-height: 50px;
}

.stat-title {
    color: #3B3B3B;
    font-family: ".SF NS Display";
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 24px;
}

// Extends
%top-spacing {
  padding-top: 180px;
}

%gutter {
  //1920
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 100px;
}

%gutter-inner {
  //936
  max-width: 935px;
  margin: 0 auto;
}

// Variables
$border-radius: 5px;

//page-style
.catalog {
    position: relative;
        
    // First Section
    .banner {
        background: url(../../images/catalog/hero-bg.png) no-repeat;
        background-size: cover;
        height: 1220px;
        padding-top: 100px;
        @extend %top-spacing;
        @media only screen and (max-width: 500px) {
                height: 680px;
            }
        .ball-medium {
            background: url(../../images/catalog/ball-large.svg) no-repeat;
            height: 100px;
            width: 100px;
            background-size: cover;
            position: absolute;
            top: 43%;
            left: 2%;
            @media only screen and (max-width: 1024px) {
                display: none;
            }
        }
        .ball-large {
            background: url(../../images/catalog/ball-medium.svg) no-repeat;
            height: 151px;
            width: 151px;
            position: absolute;
            top: 79%;
            right: -1%;
            /*top: 73%;
            right: 15%;*/
            @media only screen and (max-width: 1024px) {
                display: none;
            }
        }
        .inner-content {
            @extend %gutter-inner;
            @media only screen and (max-width: 767px) {
                width: auto;
            }
        }
        .hero-img {
            background: url(../../images/catalog/hero-img.png) no-repeat;           
            height: 668px;
            width: 972px;
            margin: 0 auto;
            margin-top: 5%;
            @media only screen and (max-width: 767px) {
                width: auto;
                height: 61vw;
                background-size: contain;
            }
        }
    }

    // Second Section
    .what-we-did {
        /*width: 90%;*/
        width: 75%;
        margin: 0 auto;
        background: #fff;
        margin-top: -6%;
        @media only screen and (max-width: 500px) {
                margin-top: -16%;
            }
        .tech-stack {
            /*@extend %gutter-inner;*/
            /*padding: 2em 10em 0 10em;*/
            max-width: 935px;
            margin: 0 auto;
            padding: 2em 0;            
            display: flex;
            @media only screen and (max-width: 500px) {
                padding: 30px;
                display: block;
            }
            .items {
                width: 32%;
                @media only screen and (max-width: 500px) {
                width: auto;
            }
                .project-tag {
                    margin-top: 16px;
                    .tag {
                        border-radius: $border-radius;
                        color: #01C4CF;
                        display: inline-block;
                        line-height: 18px;
                        padding: 5px;
                        margin: 3px;
                        font-size: 14px;
                        letter-spacing: -0.2px;
                        font-family: map-get($font-families, secondary-medium);
                        border: 2px solid #01C4CF;
                        text-transform: uppercase;
                    }
                }
            }
            .items-1 {
                width: 40%;
                margin-left: 13%;
                @media only screen and (max-width: 500px) {
                width: auto;
                margin-left: 0;
                margin-top: 20px;
            }
                ul {
                    display: flex;
                    list-style: none;
                    margin-top: 16px;
                    li .responsive {
                        margin-left: 10px;
                    }
                }
                .technologies {
                    color: #3B3B3B;
                    font-family: map-get($font-families, primary);
                    font-size: 14px;
                    letter-spacing: -0.2px;
                    margin-top: 12px;
                }
            }
            .items-2 {
                width: 11%;
                @media only screen and (max-width: 500px) {
                width: auto;
                margin-top: 20px;
            }
                ul {
                    display: flex;
                    list-style: none;
                    margin-top: 16px;
                    li .responsive {
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    //Third Section
    .an-overview {
        @extend %gutter;
        .overview-content {
            @extend %gutter-inner;
        }
        .bold-para {
            color: #000000;
            font-family: map-get($font-families, secondary);
            font-size: 26px;
            font-weight: 300;
            letter-spacing: -0.2px;
            line-height: 42px;
            margin-top: 9%;
            @media only screen and (max-width: 767px) {
                font-size: 20px;
                line-height: 36px;
            }
            .special-text {
                background: linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(255,255,255,0) 48%,rgba(255,255,255,0) 50%,#FFD382 52%,#FFD382 100%);
            }
        }
    }

    //Forth Section
    .the-solution {
        @extend %gutter;
        .solution-content {
            @extend %gutter-inner;
        }
    }

    //Fifth Section
    .our-approach {
        @extend %gutter;
        .approach-content {
            @extend %gutter-inner;
        }
    }

    //Sixth Section
    .research {
        background-color: #E8EFF2;
        height: 1024px;
        margin-top: 100px;
        .content-left {
            width: 30rem;
            margin-left: 13.75rem;
            /*padding-left: 25%;
            padding-right: 20%;*/
            padding-top: 100px;
            @media only screen and (max-width: 768px) {
                width: auto;
                margin-left: 0;
            }
        }
        .content-right {
            .product-cards {
                background: url(../../images/catalog/features_col_01.svg) no-repeat;
                background-size: contain;
                height: 940px;
                width: 240px;
                margin-top: -16%;
            }
        }
    }

    //Seventh Section
    .onboarding {
        @extend %gutter;
        .onboarding-content{
            @extend %gutter-inner;
        }
        .conversion-stats {
                 max-width: 1083px;
                 margin: 0 auto;
                 margin-top: 100px;
            .product-portfolio .product-img {
                width: 950px;
            }
            .product-stat {
                margin-top: 4%;
                width: 103px;
                .conversion-rate {
                    .conversion-num {
                        color: #01C4CF;
                        font-family: map-get($font-families, secondary-bold);
                        font-size: 26px;
                        letter-spacing: -0.2px;
                        line-height: 36px                        
                    }
                    .conversion-txt {
                        color: #3B3B3B;
                        font-family: map-get($font-families, primary);
                        font-size: 12px;
                        letter-spacing: 1.71px;
                        line-height: 16px;
                        text-transform: uppercase;
                    }
                }
                .portfolio-stats {
                border-left: 6px dotted #E8EFF2;
                height: 95px;
            }
          }            
        }
    }

    //Eight Section
    .design-and-develop {
        @extend %gutter;
        .design-content {
            @extend %gutter-inner;
        }
        .typo-container {
            width: 967px;
            margin: 0 auto;
            margin-top: 3%;
            display: flex;
            .color-palette {                               
                .palette-img {
                    background: url(../../images/catalog/color-pallette.svg) no-repeat;
                    height: 200px;
                    margin-top: 20px;
                }
            }
           .typography {
               margin-left: 29%;
               .typo-img {
                   background: url(../../images/catalog/typograph.svg) no-repeat;
                   height: 118px;
                   margin-top: 20px;
             }
               .font-label {
                   margin-top: 25px;
                   .project-font {
                       color: #716F6F;
                       font-family: "Source Sans Pro";
                       font-size: 18px;
                       font-weight: 600;
                       line-height: 23px;
                   }
                   .project-font-size {
                       color: #716F6F;
                       font-family: "Source Sans Pro";
                       font-size: 14px;
                       line-height: 18px;
                   }
               }
           } 
        }
        .art-work {
            max-width: 1673px;
            margin: 0 auto;
            margin-top: 80px;
            .art-work-heading {
                color: #000000;
                font-family: map-get($font-families, secondary-bold);
                font-size: 26px;
                font-weight: 300;
                letter-spacing: -0.2px;
                line-height: 36px;
                text-transform: uppercase;
                margin-left: 14%;
            }
            .art-work-subheading {
                color: #000000;
                font-family: map-get($font-families, secondary);
                font-size: 16px;
                font-weight: 300;
                letter-spacing: -0.2px;
                line-height: 31px;
                margin-left: 14%;
            }
            .art-icons {
                background: url(../../images/catalog/icon-artworks.svg) no-repeat;
                height: 169px;
            }
        }
        .product-website {
            @extend %gutter-inner;
            color: #000000;
            font-family: map-get($font-families, secondary);
            font-size: 18px;
            font-weight: 300;
            letter-spacing: -0.14px;
            line-height: 36px;
            margin-top: 119px;
            .sketch-illustration {
                background: url(../../images/catalog/product-website-illustrations.png) no-repeat;
                height: 309px;
            }
        }
    }

    //Ninth Section
    .the-outcome {
        @extend %gutter-inner;
        padding-top: 100px;
        .project-stats {
            margin-top: 80px;        
        .outcome-stats-1 {
            margin-left: 147px;
            @media only screen and (max-width: 767px) {
                margin-left: auto;
            }
        }
        .outcome-stats-2 {
            margin-left: 133px;
            @media only screen and (max-width: 767px) {
                margin-left: auto;
            }
        }
      }
    }

    //Tenth Section
    .client-testimonial {
        @extend %gutter-inner;
        padding-top: 100px;
        .testimonial-text {
            color: #000000;
            font-family: map-get($font-families, secondary);
            font-size: 20px;
            font-weight: 500;
            letter-spacing: -0.2px;
            line-height: 36px;
            @media only screen and (max-width: 767px) {
                         font-size: 20px;
                         line-height: 36px;
             }
        }
        .item-footer {
      text-align: left;
      display: table;

      .image-container {
        width: 12%;
        display: table-cell;
        vertical-align: middle;
      }

      .details {
        padding: 25px;
        display: grid;

        .name {
          color: #01C4CF;
          font-family: map-get($font-families, primary);
          font-size: 16px;
          line-height: 20px;
          font-weight: bold;
          text-transform: uppercase;
        }

        .company {
          color: #3B3B3B;
          font-family: map-get($font-families, primary);
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
    }
}
