@import '../../styles/base/variables';

// Global Styles
body {
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Page Styles
.mpulse {

  // First Section
  .banner {
    max-width: 1920px;
    /*height: 1050px;*/
    margin: 0 auto;
    background: url(../../images/mpulse/hero-bg.png) no-repeat;

    .banner-content {
      max-width: 935px;
      margin: 0 auto;
      @media only screen and (max-width: 767px) {
        width: 329px;
      }
      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        width: 637px;
      }

      .title-tag {
        font-family: map-get($font-families, secondary-bold);
        font-size: 46px;
        font-weight: bold;
        line-height: 50px;
        letter-spacing: -0.2px;
        color: #000000;
        @media only screen and (max-width: 767px) {
          font-size: 26px;
          line-height: 32px;
        }
      }

      .subtitle-tag {
        font-family: map-get($font-families, secondary);
        font-size: 36px;
        line-height: 44px;
        margin-top: 20px;
        letter-spacing: -0.2px;
        color: #000000;
        @media only screen and (max-width: 767px) {
          font-size: 24px;
          line-height: 28px;
          margin-top: 10px;
        }
      }
    }

    .hero-img {
      max-width: 1162px;
      height: 817px;
      margin: 0 auto;
      margin-top: 67px;
      background: url(../../images/mpulse/device-visual.svg) no-repeat;
      @media only screen and (max-width: 767px) {
        height: 400px;
        background-size: contain;
      }
    }
  }

  // Second Section
  .what-we-did {
    max-width: 1350px;
    margin: 0 auto;
    padding: 10px 99px;
    @media only screen and (max-width: 767px) {
      width: 346px;
      padding: 0;
    }

    .tech-stack {
      /*border: 1px solid red;*/
      position: relative;
      bottom: 88px;
      border-radius: 5px;
      /*height: 200px;*/
      /*display: flex;*/
      background: #ffffff;

      .border-line {
        max-width: 935px;
        margin: 0 auto;
        margin-top: 20px;
        border: 1px solid #e8eff2;
      }

      .technology-tags {
        display: flex;
        /*align-items: center;*/
        max-width: 935px;
        margin: 0 auto;
        padding-top: 30px;
        @media only screen and (max-width: 767px) {
          display: block;
          padding-left: 14px;
        }

        .items {
          /*width: 33%;*/
          width: 257px;

          .tag-title {
            font-family: map-get($font-families, secondary);
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
            letter-spacing: -0.2px;
            color: #3b3b3b;
          }

          .project-tag {
            margin-top: 14px;

            .tag {
              font-family: "circular-medium";
              font-size: 14px;
              line-height: 18px;
              display: inline-block;
              margin: 4px;
              padding: 5px;
              letter-spacing: -0.2px;
              color: #01c4cf;
              border: 2px solid #01c4cf;
              border-radius: 5px;
            }
          }
        }

        .items-1 {
          width: 386px;
          padding-left: 80px;
          @media only screen and (max-width: 767px) {
            width: 328px;
            margin-top: 20px;
            padding-left: 0;
          }

          ul {
            display: flex;
            width: 350px;
            margin-top: 14px;
            list-style: none;

            li .responsive {
              margin-left: 10px;
            }

            li .container {
              box-sizing: border-box;
              width: 30px;
              height: 30px;
              margin-left: 10px;
              border: 2px solid #01c4cf;
              border-radius: 5px;
              background-color: #ffffff;

              .count {
                font-size: 16px;
                font-weight: bold;
                padding: 6px 4px;
                letter-spacing: -0.2px;
                color: #01c4cf;
              }
            }
          }

          .tag-title {
            font-family: map-get($font-families, secondary);
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
            letter-spacing: -0.2px;
            color: #3b3b3b;
          }

          .technologies {
            font-family: map-get($font-families, primary);
            font-size: 14px;
            margin-top: 3px;
            letter-spacing: -0.2px;
            color: #3b3b3b;
          }
        }

        .items-2 {
          width: 100px;
          padding-left: 112px;
          @media only screen and (max-width: 767px) {
            width: 100px;
            margin-top: 20px;
            padding-left: 0;
          }

          .tag-title {
            font-family: map-get($font-families, secondary);
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
            letter-spacing: -0.2px;
            color: #3b3b3b;
          }

          ul {
            display: flex;
            margin-top: 14px;
            list-style: none;

            li .responsive {
              margin-left: 5px;
            }
          }
        }
      }
    }
  }

  // Third Section
  .an-overview {
    max-width: 1920px;
    margin: 0 auto;
    margin-top: -3%;

    .overview-content {
      max-width: 936px;
      margin: 0 auto;
      @media only screen and (max-width: 767px) {
        width: 329px
      }

      .label {
        font-family: map-get($font-families, secondary);
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: -0.2px;
        text-transform: uppercase;
        color: #01c4cf;
      }

      .overview-title {
        font-family: map-get($font-families, secondary-bold);
        font-size: 36px;
        font-weight: bold;
        line-height: 44px;
        margin-top: 15px;
        letter-spacing: -0.2px;
        color: #000000;
        @media only screen and (max-width: 767px) {
          font-size: 26px;
          line-height: 30px;
        }
      }

      .para-detail {
        font-family: map-get($font-families, primary);
        font-size: 18px;
        line-height: 28px;
        margin-top: 32.4px;
        letter-spacing: -0.2px;
        color: #3b3b3b;
        @media only screen and (max-width: 767px) {
          font-size: 16px;
          line-height: 24px;
        }
      }

      .second-para-detail {
        font-family: map-get($font-families, primary);
        font-size: 18px;
        line-height: 28px;
        margin-top: 10px;
        letter-spacing: -0.2px;
        color: #3b3b3b;
        @media only screen and (max-width: 767px) {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }

    .diagrame {
      width: 687px;
      height: 359px;
      margin: 0 auto;
      margin-top: 89px;
      background: url(../../images/mpulse/diagramme.png) no-repeat;
      @media only screen and (max-width: 767px) {
        width: 349px;
        height: 216px;
        margin-top: 50px;
        background-size: contain;
      }
    }
  }

  // Fourth Section
  .the-challenge {
    max-width: 1350px;
    margin: 0 auto;
    margin-top: 157px;
    @media only screen and (max-width: 767px) {
      margin-top: 80px;
    }

    .challenge {
      max-width: 935px;
      margin: 0 auto;
      @media only screen and (max-width: 767px) {
        width: 329px
      }

      .label {
        font-family: map-get($font-families, secondary);
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: -0.2px;
        text-transform: uppercase;
        color: #01c4cf;
      }

      .tackling-the-scalabi {
        font-family: map-get($font-families, secondary-bold);
        font-size: 36px;
        font-weight: bold;
        line-height: 44px;
        margin-top: 10px;
        letter-spacing: -0.2px;
        color: #000000;
        @media only screen and (max-width: 767px) {
          font-size: 24px;
          line-height: 30px;
        }
      }

      .m-pulse-wanted-us-to {
        font-family: map-get($font-families, primary);
        font-size: 18px;
        line-height: 28px;
        margin-top: 20px;
        letter-spacing: -0.2px;
        color: #3b3b3b;
        @media only screen and (max-width: 767px) {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }

  // Fifth Section
  .our-approach {
    /*height: 600px;*/
    max-width: 1920px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #ffffff;
    @media only screen and (max-width: 767px) {
      margin-top: 80px;
    }

    .approach-content {
      max-width: 935px;
      height: 372px;
      margin: 0 auto;
      @media only screen and (max-width: 767px) {
        width: 329px;
      }

      .label {
        font-family: map-get($font-families, secondary);
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: -0.2px;
        text-transform: uppercase;
        color: #01c4cf;
      }

      .glued-to-users-prob {
        font-family: map-get($font-families, secondary-bold);
        font-size: 36px;
        line-height: 44px;
        margin-top: 10px;
        letter-spacing: -0.2px;
        color: #000000;
        @media only screen and (max-width: 767px) {
          font-size: 24px;
          line-height: 30px;
        }
      }

      .row {
        margin-top: 20px;

        .column-left {
          float: left;
          width: 425px;
          height: 280px;
          @media only screen and (max-width: 768px) {
            width: auto;
            height: auto;
          }

          .we-spent-our-initial {
            font-family: map-get($font-families, primary);
            font-size: 18px;
            line-height: 28px;
            letter-spacing: -0.2px;
            color: #3b3b3b;
            @media only screen and (max-width: 767px) {
              font-size: 16px;
              line-height: 24px;
            }
          }
        }

        .column-right {
          float: right;
          width: 425px;
          height: 280px;
          @media only screen and (max-width: 768px) {
            width: auto;
            height: auto;
            margin-top: 15px;
          }

          .to-uncover-answers {
            font-family: map-get($font-families, primary);
            font-size: 18px;
            line-height: 28px;
            letter-spacing: -0.2px;
            color: #3b3b3b;
            @media only screen and (max-width: 767px) {
              font-size: 16px;
              line-height: 24px;
            }
          }
        }
      }
    }
  }

  // Sixth Section
  .our-design-process {
    max-width: 1920px;
    height: 1724px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #e8eff2;
    @media only screen and (max-width: 767px) {
      height: 1260px;
      margin-top: 275px;
    }

    .design-process {
      max-width: 935px;
      height: 488px;
      margin: 0 auto;
      padding-top: 100px;
      @media only screen and (max-width: 767px) {
        width: 329px;
      }

      .label {
        font-family: map-get($font-families, secondary);
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: -0.2px;
        text-transform: uppercase;
        color: #01c4cf;
      }

      .main-title {
        font-family: map-get($font-families, secondary-bold);
        font-size: 36px;
        line-height: 44px;
        margin-top: 10px;
        letter-spacing: -0.2px;
        color: #000000;
        @media only screen and (max-width: 767px) {
          font-size: 24px;
          line-height: 30px;
        }
      }

      .simple-text {
        font-family: map-get($font-families, primary);
        font-size: 18px;
        line-height: 28px;
        margin-top: 20px;
        letter-spacing: -0.2px;
        color: #3b3b3b;
        @media only screen and (max-width: 767px) {
          font-size: 16px;
          line-height: 24px;
        }
      }

      .simple-text-2 {
        font-family: map-get($font-families, primary);
        font-size: 18px;
        line-height: 28px;
        margin-top: 20px;
        letter-spacing: -0.2px;
        color: #3b3b3b;
        @media only screen and (max-width: 767px) {
          font-size: 16px;
          line-height: 24px;
        }
      }

      .simple-text-3 {
        font-family: map-get($font-families, primary);
        font-size: 24px;
        line-height: 40px;
        margin-top: 20px;
        letter-spacing: -0.2px;
        color: #3b3b3b;
        @media only screen and (max-width: 767px) {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }

    .flowchart {
      max-width: 1012px;
      height: 856px;
      margin: 0 auto;
      margin-top: 81px;
      background: url(../../images/mpulse/flowchart.png) no-repeat;
      @media only screen and (max-width: 767px) {
        width: 370px;
        height: 339px;
        margin-top: 200px;
        background-size: contain;
      }
    }

    .user-flow-diagram {
      font-family: map-get($font-families, primary);
      font-size: 14px;
      line-height: 24px;
      margin-top: 30.2px;
      text-align: center;
      letter-spacing: -0.2px;
      color: #1787e0;
      @media only screen and (max-width: 767px) {
        font-size: 12px;
        line-height: 18px;
        margin-top: 22.6px;
      }
    }
  }

  // Seventh Section
  .ui-design {
    max-width: 1920px;
    height: 1450px;
    margin: 0 auto;
    background-color: #ffffff;
    @media only screen and (max-width: 767px) {
      height: auto;
      margin-top: 80px;
    }

    .design-approach {
      max-width: 935px;
      height: 276px;
      margin: 0 auto;
      margin-top: 90px;
      @media only screen and (max-width: 767px) {
        width: 329px;
        margin-top: 0;
      }

      .label {
        font-family: map-get($font-families, secondary);
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: -0.2px;
        text-transform: uppercase;
        color: #01c4cf;
      }

      .main-title {
        font-family: map-get($font-families, secondary-bold);
        font-size: 36px;
        line-height: 44px;
        margin-top: 10px;
        letter-spacing: -0.2px;
        color: #000000;
        @media only screen and (max-width: 767px) {
          font-size: 24px;
          line-height: 30px;
        }
      }

      .para-text {
        font-family: map-get($font-families, primary);
        font-size: 18px;
        line-height: 28px;
        margin-top: 20px;
        letter-spacing: -0.2px;
        color: #3b3b3b;
        @media only screen and (max-width: 767px) {
          font-size: 16px;
          line-height: 24px;
        }
      }

      .para-text-2 {
        font-family: map-get($font-families, primary);
        font-size: 18px;
        line-height: 28px;
        margin-top: 17px;
        letter-spacing: -0.2px;
        color: #3b3b3b;
        @media only screen and (max-width: 767px) {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }

    .color-palette {
      width: 935px;
      height: 430px;
      margin-top: 80px;
      margin-right: auto;
      margin-left: auto;
      background: url(../../images/mpulse/colors.svg) no-repeat;
      @media only screen and (max-width: 767px) {
        width: 281px;
      }
    }

    .ui-component {
      max-width: 1290px;
      height: 427px;
      margin-top: 80px;
      margin-right: auto;
      margin-left: auto;
      background: url(../../images/mpulse/ui-component.svg) no-repeat;
      @media only screen and (max-width: 767px) {
        width: 359px;
        height: 200px;
        margin-top: 30px;
        background-size: contain;
      }
    }
  }

  // Eighth Section
  .secondary-banner {
    max-width: 1920px;
    margin: 0 auto;

    .ui-showcase {
      height: 739px;
      background: url(../../images/mpulse/ui-showcase.png) no-repeat;
      /*height: 1020px;*/
      background-size: contain;
      @media only screen and (max-width: 767px) {
        height: 205px;
      }
    }
  }

  // Ninth Section
  .development {
    max-width: 1920px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #ffffff;
    @media only screen and (max-width: 767px) {
      margin-top: 80px;
    }

    .development-process {
      max-width: 935px;
      margin: 0 auto;
      @media only screen and (max-width: 767px) {
        width: 329px;
      }

      .label {
        font-family: map-get($font-families, secondary);
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: -0.2px;
        text-transform: uppercase;
        color: #01c4cf;
      }

      .main-title {
        font-family: map-get($font-families, secondary-bold);
        font-size: 36px;
        line-height: 44px;
        margin-top: 10px;
        letter-spacing: -0.2px;
        color: #000000;
        @media only screen and (max-width: 767px) {
          font-size: 24px;
          line-height: 30px;
        }
      }

      .process-text {
        font-family: map-get($font-families, primary);
        font-size: 18px;
        line-height: 28px;
        margin-top: 20px;
        letter-spacing: -0.2px;
        color: #3b3b3b;
        @media only screen and (max-width: 767px) {
          font-size: 16px;
          line-height: 24px;
        }
      }

      .process-text-2 {
        font-family: map-get($font-families, primary);
        font-size: 18px;
        line-height: 28px;
        margin-top: 20px;
        letter-spacing: -0.2px;
        color: #3b3b3b;
        @media only screen and (max-width: 767px) {
          font-size: 16px;
          line-height: 24px;
        }
      }

      .process-text-3 {
        font-family: map-get($font-families, primary);
        font-size: 18px;
        line-height: 28px;
        margin-top: 20px;
        letter-spacing: -0.2px;
        color: #3b3b3b;
        @media only screen and (max-width: 767px) {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }

  // Tenth Section
  .the-outcome {
    max-width: 1920px;
    margin: 0 auto;
    background-color: #ffffff;

    .outcome-content {
      max-width: 935px;
      margin: 0 auto;
      margin-top: 100px;
      @media only screen and (max-width: 767px) {
        width: 329px;
        margin-top: 80px;
      }

      .label {
        font-family: map-get($font-families, secondary);
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: -0.2px;
        text-transform: uppercase;
        color: #01c4cf;
      }

      .main-title {
        font-family: map-get($font-families, secondary-bold);
        font-size: 36px;
        line-height: 44px;
        margin-top: 10px;
        letter-spacing: -0.2px;
        color: #000000;
        @media only screen and (max-width: 767px) {
          font-size: 24px;
          line-height: 30px;
        }
      }

      .outcome-para {
        font-family: map-get($font-families, primary);
        font-size: 18px;
        line-height: 28px;
        margin-top: 20px;
        letter-spacing: -0.2px;
        color: #3b3b3b;
        @media only screen and (max-width: 767px) {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }

  //Eleventh section
  .client-testimonial {
    margin-top: 89px;
    @media only screen and (max-width: 767px) {
      margin-top: 50px;
    }

    .testimonial {
      max-width: 800px;
      margin: 0 auto;
      @media only screen and (max-width: 767px) {
        width: 329px;
      }

      .testimonial-text {
        font-family: map-get($font-families, secondary);
        font-size: 20px;
        line-height: 36px;
        width: 774px;
        letter-spacing: -0.2px;
        color: #000000;
        @media only screen and (max-width: 767px) {
          font-size: 20px;
          line-height: 36px;
          width: 302px;
        }
      }

      .item-footer {
        display: table;
        text-align: left;

        .image-container {
          display: table-cell;
          width: 12%;
          vertical-align: middle;
        }

        .details {
          display: grid;
          padding: 25px;

          .name {
            font-family: map-get($font-families, primary);
            font-size: 16px;
            font-weight: bold;
            line-height: 20px;
            text-transform: uppercase;
            color: #01c4cf;
          }

          .company {
            font-family: map-get($font-families, primary);
            font-size: 16px;
            line-height: 20px;
            color: #3b3b3b;
          }
        }
      }
    }
  }
}





